//
//  Release-Config.xcconfig
//  DemoSettings
//
//  Created by Tam Nguyen M. on 3/25/19.
//  Copyright © 2019 Tam Nguyen M. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

IS_APP_VERSION = 1.0.3
IS_APP_BUILD = 1.0.4
IS_APP_COPYRIGHT = t8m.dev
